<footer class="footer ">
    <div class="container-fluid">
        <div class="copyright center">
            <h2><u>Northbay International, Inc.</u></h2>
            Nike International, Ltd. and Northbay International, Inc. initiated a strategic alliance for distribution in Latin<br>
            American in 1980. Northbay International is the exclusive distributor of Nike footwear, apparel, and equipment<br>
            In Colombia, Venezuela, Central America and Caribean.
        </div>
    </div>
</footer>
