<ngx-spinner bdColor="rgba(255, 255, 255, 0.8)" size="medium" color="#000000" type="ball-clip-rotate"
  [fullScreen]="true">
  <p style="color: red">{{ getMessageUpload() }}</p>
</ngx-spinner>
<div class="row">
  <div class="col">
    <div class="card card-chart">
      <div class="card-header card-header-grey">
        <h5 class="card-title" *ngIf="type != 'IN'">
          1. SELECCIONE EL PERIODO A CARGAR / PLEASE, SELECT THE DATE RANGE TO
          UPLOAD
        </h5>
        <h5 class="card-title" *ngIf="type === 'IN'">
          1. SELECCIONE LA FECHA DE CIERRE DE SU INVENTARIO / PLEASE, SELECT THE
          DATE RANGE TO UPLOAD
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>ID Cuenta</mat-label>
                  <mat-select [formControl]="account" (selectionChange)="onSelectedAccount()">
                    <mat-option *ngFor="let cuenta of optionsCuentas" [value]="cuenta.value">
                      {{ cuenta.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              

              <!-- <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label *ngIf="type === 'IN'">Fecha de inventario</mat-label>
                  <mat-label *ngIf="type === 'VE'">Desde</mat-label>
                  <input id="fechadesde" [matDatepickerFilter]="disableWeekend" matInput [matDatepicker]="cargarDesde"
                    [formControl]="startDate" (dateChange)="onChangeStartDate()" />
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="cargarDesde"></mat-datepicker-toggle>
                  <mat-datepicker #cargarDesde></mat-datepicker>
                </mat-form-field>
              </div> -->

               <div class="col-6" *ngIf="type === 'VE'">
                <mat-form-field appearance="fill">
                  <mat-label >Desde</mat-label>
                  <input id="fechadesde" [matDatepickerFilter]="disableWeekend" matInput [matDatepicker]="cargarDesde"
                    [formControl]="startDate" (dateChange)="onChangeStartDate()" />
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="cargarDesde"></mat-datepicker-toggle>
                  <mat-datepicker #cargarDesde></mat-datepicker>
                </mat-form-field>
              </div>

              <!-- {{ endDate.value }} -->
              <div class="col-6" *ngIf="type != 'IN'">
                <mat-form-field appearance="fill">
                  <mat-label>Hasta</mat-label>
                  <input matInput [matDatepicker]="cargarHasta" [formControl]="endDate" />
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="cargarHasta"></mat-datepicker-toggle>
                  <mat-datepicker #cargarHasta></mat-datepicker>
                </mat-form-field>
              </div>



              <div class="col-6" *ngIf="type === 'IN'">
                <!-- SEMANAL -->
                <mat-form-field appearance="fill" *ngIf="grabarsemanal">
                  <mat-label >Fecha de inventario</mat-label>
                  <input id="fechadesde" [matDatepickerFilter]="filterMondays" matInput [matDatepicker]="cargarDesde"
                    [formControl]="startDate" (dateChange)="onChangeStartDate()" />
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="cargarDesde"></mat-datepicker-toggle>
                  <mat-datepicker #cargarDesde></mat-datepicker>
                </mat-form-field>

                <!-- MENSUAL -->
                <mat-form-field appearance="fill" *ngIf="!grabarsemanal">
                  <mat-label *ngIf="type === 'IN'">Fecha de inventario</mat-label>
                  <input  id="fechadesde" 
                          [matDatepickerFilter]="filterLastDayOfMonth"
                          matInput [matDatepicker]="cargarDesde"
                    [formControl]="startDate" (dateChange)="onChangeStartDate()" />                 
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="cargarDesde"></mat-datepicker-toggle>
                  <mat-datepicker #cargarDesde></mat-datepicker>
                </mat-form-field>

              </div>             

              <div class="col-6" *ngIf="type === 'IN'">
                <label id="cbolabel" style="width: 100% !important">
                  <h4 *ngIf="grabarsemanal">Fecha de cierre de inventario semanal.</h4>
                  <h4 *ngIf="!grabarsemanal">Fecha de cierre de inventario Mensual.</h4>
                </label>
              </div>
           

            </div>
          </div>
          <div clas
          s="col-6">
            <h4>Detalle últimas cargas / Last Uploads Details</h4>
            <table class="table table_last">
              <thead class="text-primary">
                <th>ID Secuencia</th>
                <th>Periodo de Carga</th>
                <th>Fecha de Carga</th>
                <th>Usuario</th>
              </thead>
              <tbody>
                <tr *ngFor="let upload of lastUploads">
                  <td>{{ upload.secuencia }}</td>
                  <td>
                    {{ upload.fechaCargaInicial | date : "dd/MM/yyyy" }} al
                    {{ upload.fechaCargaFinal | date : "dd/MM/yyyy" }}
                  </td>
                  <td>{{ upload.fechaCarga | date : "dd/MM/yyyy HH:mm" }}</td>
                  <td>{{ upload.usuario }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr *ngIf="lastUploads.length == 0 && !loadingLast$.value">
                  <td colspan="4">0 Registros encontrados</td>
                </tr>
                <tr *ngIf="loadingLast$.value">
                  <td>Loading...</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card card-chart">
      <div class="card-header card-header-grey">
        <h5 class="card-title">2. CARGA DE DATOS / DATA UPLOAD</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Archivo/File</mat-label>
              <input hidden type="file" (change)="onFileSelected()" #fileInput />
              <input matInput type="text" [value]="fileName" [readonly]="true" />
              <button mat-button matSuffix mat-flat-button (click)="fileInput.click()">
                <i class="material-icons">attach_file</i> Examinar/Select file
              </button>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button mat-raised-button class="btn btn-grey" [disabled]="fileName === '' || title.value === ''"
              (click)="onUploadFile()">
              <i class="material-icons">cloud_upload</i>&nbsp;Subir/UPLOAD
            </button>
          </div>

          <!-- <div class="col-md-2" *ngIf="type == 'VE'">
            <button mat-raised-button class="btn btn-grey" (click)="
                descargar(
                  'https://jlranalytics-my.sharepoint.com/:x:/p/desarrollador4/EaIPPjAbn0BLrmnuMJgL6p8BcCEfrE_EwSuK9QZ8GzuVvw?e=vOaPTC&download=1'
                )
              ">
              <i class="material-icons">cloud_download</i>
              &nbsp; Descargar Plantilla / Download Template
            </button>
          </div>

          <div class="col-md-2" *ngIf="type == 'IN'">
            <button mat-raised-button class="btn btn-grey" (click)="
                descargar(
                  'https://jlranalytics-my.sharepoint.com/:x:/p/desarrollador4/EQjIZe-25EtNjeryvHlkM9MBt3rIHXo2LuXErrJ7xYHl_g?e=JLmhV6&download=1'
                )
              ">
              <i class="material-icons">cloud_download</i> &nbsp; Descargar
              Plantilla / Download Template
            </button>
          </div> -->

          <div class="col-md-2">
            <button mat-raised-button class="btn btn-grey" (click)="descargarPlantilla(type)">
              <i class="material-icons">cloud_download</i> &nbsp; Descargar
              Plantilla / Download Template
            </button>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Titulo/Title</mat-label>
              <input matInput readonly="true" type="text" [formControl]="title" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card card-chart">
              <div class="card-header card-header-grey">
                <h5 class="card-title">
                  3. PRELIMINAR DE CARGA / CURRENT UPLOAD SUMMARY
                </h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    Fecha de carga/Upload Date:
                    {{ uploadFile?.fechaCarga | date : "dd/MM/yyyy" }}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    Registros/Records: {{ uploadFile?.registros }}
                  </div>
                </div>
                <div class="row" *ngIf="type === 'VE'">
                  <div class="col">
                    Valor/Inventory Amoun: {{ uploadFile?.ventas }}
                  </div>
                </div>
                <div class="row" *ngIf="type === 'IN'">
                  <div class="col">
                    Valor del inventario/Inventory Amount:
                    {{ uploadFile?.ventas }}
                  </div>
                </div>
                <div class="row" *ngIf="type === 'IN' || type === 'VE'">
                  <div class="col">
                    Unidades/Units: {{ uploadFile?.unidades }}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    Secuencia de carga/Upload Sequence:
                    {{ uploadFile?.secuencia }}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    Cantidad de errores/Errors Found:
                    {{ uploadFile?.errores?.length }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-chart">
              <div class="card-header card-header-danger">
                <h5 class="card-title">
                  4. DETALLE DE ERRORES ENCONTRADOS / UPLOADING ERRORS LOG
                </h5>
              </div>
              <div class="card-body" [style.overflow]="'auto'" [style.height.px]="'300'">
                <div class="row" *ngFor="let fila of uploadFile?.headerErrores">
                  <div class="col-lg-12">{{ fila }}</div>
                </div>
                <div class="row" *ngIf="uploadFile?.headerErrores?.length === 0">
                  <div class="col">Sin observaciones</div>
                </div>
              </div>
              <div class="card-footer" *ngIf="uploadFile?.errores?.length > 0">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-12">
                      <label style="width: 100% !important">Descargue la lista de errores encontrados aquí.</label>
                    </div>
                    <div class="col-lg-12">
                      <button style="float: left" mat-raised-button type="submit" class="btn btn-grey pull-right"
                        (click)="downloadErrors()">
                        Descargar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>